<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="card col-sm-8 col-xs-2 flush-sides">
    <div class=" card-header bg-secondary text-white">
      Add Employee
    </div>
    <div class="card-body col-sm-8 col-xs-2">
      <div class="form-group">
        <label class="control-label" for="fullName">Full Name</label>
        <div class="">
          <input id="fullName" formControlName="fullName" type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class=" control-label" for="email">Email</label>
        <div class="">
          <input id="email" type="text" formControlName="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class=" control-label" for="email">Select Department</label>
        <select formControlName="department" class="form-control">
          <option *ngFor="let department of departmentList" value="{{department}}">
            {{department}}
          </option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </div>
</form>